body{
    height:100vh;
    width:100vw;
    background-color: black;
}
.container{
    height:100%;
    width:100%;
}
.d-flex form{
    flex-grow: 1;
}
/* body{
    background-color: black;
} */
.sidebyside{
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .button{
    background-color: #1CB0F6;
    box-shadow: 0 5px 0 #2B70C9;
    user-select: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: calc((100vw/3));
    text-align: center;
    transition: 0.2s;
}
.button:active{
    transform: translateY(5px);
    box-shadow: none;
} */

.button-left{
    color: black;
    background-color: #1CB0F6;
    box-shadow: 0 5px 0 #2B70C9;
    user-select: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px 0 0 ;
    width: calc((100vw/3));
    text-align: center;
    transition: 0.2s;
    border: none;
}
.button-left:active{
    transform: translateY(5px);
    box-shadow: none;
}
.button-middle{
    color: black;
    background-color: #1CB0F6;
    box-shadow: 0 5px 0 #2B70C9;
    user-select: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px 0 5px ;
    width: calc((100vw/3));
    text-align: center;
    transition: 0.2s;
    border: none;
}
.button-middle:active{
    transform: translateY(5px);
    box-shadow: none;
}
.button-right{
    color: black;
    background-color: #1CB0F6;
    box-shadow: 0 5px 0 #2B70C9;
    user-select: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 0 5px ;
    width: calc((100vw/3));
    text-align: center;
    transition: 0.2s;
    border: none;
}
.button-right:active{
    transform: translateY(5px);
    box-shadow: none;
}

.custom-input{
    align-items: center;
    justify-content: center;
    width: 100%;
}
form{
    width: 80%;
}
footer{
    color: white;
}
.responsive-logo{
    align-items:center;
    justify-content: center;
    size: 10vw;
}