* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

div {
  /* background-color: lightsalmon; */
  width: 100%;
  color: #ffffff;
  text-align: center;
}

p {
  margin: 0;
  color: #ffffff;
  text-align: center;
}

article {
  margin: 0;
  display: inline-block;
}

i{
  font-size: 17vw;
  padding-top:4vw;
  padding-right:5vw;
}

img {
  width: 50%;
  height: auto;
  vertical-align: middle;
}

.time {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 20vw;
}

.date {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 8vw;
}

.left {
  /* background-color: lightpink; */
  float: left;
  width: 50%;
  text-align: center;
}

.right {
  /* background-color: lightgreen; */
  float: right;
  width: 50%;
  text-align: center;
}

.bottom {
  /* background-color: lightblue; */
  float: bottom;
  width: 100%;
  clear: both;
  text-align: center;
}

.top {
  /* background-color: lightskyblue; */
  width: 100%;
  text-align: center;
}

.tempmain {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 20vw;
}

.tempminmax {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 5vw;
}

/*removes the spin wheel on numbers*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input{
  font-size: 5vw;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}
/*defines styles for buttons*/

.button {
  padding-left:5vw;
  padding-right:5vw;
  border: 2px solid #59b4ff;
  background-color: #59b4ff;
  transition-duration: 0.4s;
  color: black;
  /* border-radius: 2vw; */
  font-family: 'Rubik', sans-serif;
  /* font-size: 2vw; */
}
.button:hover {
  background-color: #0075c4;
  border: 2px solid #0075c4;
  /* box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19); */
  color: white;
}

  